.center-content__container {
  display: flex;
}
.center-content__container .center-content__container__left {
  flex: 2;
  width: 100%;
}

.center-content__container .center-content__container__right {
  flex: 3;
  width: 100%;
  margin-left: 30px;
}

.center-content__container__right > *:not(:first-child) {
  margin-top : 17px;

}

