@mixin mobile {
    @media (max-width: 500px) {
        @content;
    }
}

.home-container {
    background-color: #242424;
    min-height: 100vh;

    .home-container__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1201px;
        margin: 0 auto;
        min-height: 100vh;
        padding-top: 60px;

        .home-container__content__bottom {
            display: flex;
            align-items: center;
            margin: 0 auto 30px;

            @include mobile {
                margin-top: 30px;
            }

            .logo-container {
                margin-left: 10px;
            }
        }
    }
}
