.certificate-container {
    display: flex;
    padding: 13px 20px;
    text-decoration: none;
    background-color: #1d1d1d;
    border-radius: 10px;
    color: white;

    img {
        width: 70px;
    }

    .certificate-right {
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
        width: 100%;
    }
}
