@mixin mobile {
    @media (max-width: 500px) {
      @content;
    }
  }

.social-media-container {
    display: flex;

    @include mobile {
        justify-content: center;
    }

    > * {
        &:not(:first-child) {
            margin-left: 10px;
        }
    }

    .social-media-item {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #212121;
        border-radius: 10px 12px;
        padding: 10px;
        width: 50px;
        margin: 6px;
    }
}
