.user-image__container {
  position: absolute;
}

.center-content__container__left__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 80px;
}

.user-info .user-info__content {
  display: flex;
  align-items: center;
}

.user-info .user-info__content >*:not(:first-child) {
  margin-left: 5px;
}

.user-info {
  margin-bottom: 20px;
}

.user-info__content .user-info__content__container {
  display: flex;
  align-items: center;
  width: 20px;
}

.user-info >*:not(:first-child) {
  margin-top: 10px;
}

.espacamento {
  padding-bottom: 15px;
}