@mixin mobile {
    @media (max-width: 500px) {
      @content;
    }
  }

.user-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #43b0ff;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    height: 150px;
    width: 150px;
    margin-top: -17px;
    transform: translateY(-50%);

    @include mobile {
        transform: translate(80%, -50%)
    }

    img {
        height: 105%;
    }
}
