.tecnologies-container .tecnologies-heading {
    border-bottom: 1px solid #4B4B4B;
    padding-bottom: 15px;
}

.tecnologies-container .tecnologies-content {
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.tecnologies-content > *:not(:first-child) {
    margin-left : 27px;
}