@mixin mobile {
    @media (max-width: 500px) {
      @content;
    }
  }

.tecnologies-container {
    .tecnologies-heading {
        border-bottom: 1px solid #4b4b4b;
        padding-bottom: 15px;
    }

    .tecnologies-content {
        display: flex;
        align-items: center;
        padding-top: 25px;

        > * {
            &:not(:first-child) {
                margin-left: 27px;
            }
        }
    }
}
